@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#root {
	margin: 0;
	padding: 0rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.header {
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 60%;
}
.brand {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-style: normal;
	color: black;
	font-size: 35px;
}
.dps {
	width: 50px;
	height: 50px;
}
.data_field {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	border: 1px solid rgb(245, 245, 245);
	width: 60%;
	height: 580px;
	border-radius: 12px;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 6rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.filters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 1rem;
}
.filter_btns {
	display: flex;
	gap: 0.7rem;
}
#customers {
	font-family: 'Poppins', sans-serif;
	border-collapse: collapse;
	width: 100%;
	border-left: 1px solid rgb(207, 207, 207);
	border-right: 1px solid rgb(207, 207, 207);
	border-bottom: 1px solid rgb(207, 207, 207);
	border-radius: 12px;
}

#customers td,
#customers th {
	padding: 8px;
	padding-left: 20px;
	font-size: 15px;
	width: 33%;
}

#customers tr:hover {
	background-color: #e4c3ff57;
	cursor: pointer;
}
.lighted {
	background-color: rgba(
		220,
		105,
		255,
		0.397
	); /* Set the desired color here */
}
#customers th {
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: left;
	background-color: #d884ff;
	color: rgb(0, 0, 0);
	font-size: 16px;
}
.search__box {
	/* margin-top: 1rem; */
	display: flex;
	flex-direction: row;
}
.search {
	height: 38px;
	display: flex;
	padding: 0.5rem;
	background-color: rgba(255, 255, 255, 0.42);
	flex-direction: row;
	align-items: center;
	border-radius: 11px;
	padding: 0rem 0.9rem;
	border: 1px solid rgb(235, 235, 235);
}
.search:hover {
	background-color: #f5f5f5;
	transition: 1000ms;
	cursor: text;
}
.search > input {
	outline: none;
	background-color: transparent;
	width: 150px;
	padding: 0rem 0.5rem;
	font-size: 14px;
}
.input {
	border-color: transparent;
	font-family: 'Poppins', sans-serif;
	color: black;
}

.clear {
	padding: 0.5rem;
	border: 1px solid rgb(235, 235, 235);
	border-radius: 7px;
	display: flex;
	align-items: center;
}

.dropbtn {
	background-color: #ffffff;
	color: rgb(107, 107, 107);
	border: 1px solid rgb(238, 238, 238);
	padding: 8px 10px;
	font-weight: 400;
	font-size: 14px;
	cursor: pointer;
	display: flex;
	height: 40px;
	gap: 3.3rem;
	align-items: center;
	border-radius: 10px;
	font-family: 'Poppins', sans-serif;
}
.dropbtn:hover {
	background-color: #f5f5f5;
	transition: 1000ms;
}
.clear:hover {
	background-color: #f5f5f5;
	transition: 1000ms;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	max-height: 250px;
	overflow-y: auto;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
}

.dropdown-content li {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-decoration: none;
}

.dropdown-content li:hover {
	background-color: #f1f1f1;
}
.dropdown-active .dropdown-content-active {
	display: block;
}
/* The container */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	font-size: 14px;
	font-family: "Poppins";
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	right: 3%;
}

.checkbox{
	display: flex;
	align-items:center;
	gap: 0.3rem;
	justify-content: center;
}
.checkbox p {
	margin: 0px;
	font-size: 14px;
	font-family: "Poppins";
}
.radio{
	width: 22px;
	height: 22px;

}
.emptyData{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 6rem;
}
.emptyData p {
	font-size: 15px;
	font-weight: 500;
	font-family: "Poppins";
}
.emptyData img{
	width: 100px;
	height:100px;
}
.filled-radio{
	fill: #c64cff;
}
.radio:hover {
	cursor: pointer;
}
.pagination {
	gap: 0.6rem;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}
.pagination > ul {
	gap: 0.6rem;
	display: flex;
	justify-content: center;
	padding: 0px;
	margin: 0px;
}

.pagination > ul > button {
	border: none;
}
.pagination > ul > button:hover {
	cursor: pointer;
}
.active {
	background-color: #efceff;
}
.mobile {
	display: flex;
	gap: 0.8rem;
}
.modal-overlay {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.show-modal {
	visibility: visible;
	background-color: rgba(0, 0, 0, 0.199);
}
.hide-modal {
	visibility: hidden;
}
.modal {
	background-color: white;
	border-radius: 12px;
	box-shadow: #f5f5f5;
	padding: 2rem 3rem;
	max-width: fit-content;
	/* width: 400px; */
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.show-opacity {
	scale: 100px;
	opacity: 100px;
}
.hide-opacity {
	scale: 110px;
	opacity: 0px;
}
.profile-top {
	display: flex;
	flex-direction: row;
	align-items: start;
	gap: 1rem;
}
.profile-img {
	width: 80px;
	height: 80px;
}
.profile-top div h1 {
	margin: 0px;
	font-family: 'Poppins';
}
.profile-top div p {
	margin: 0px;
	font-size: 17px;
	font-family: 'Poppins';
}
.tabs ul {
	display: flex;
	flex-direction: row;
	gap: 90px;
	list-style: none;
	padding: 0px;
}
.tab-link {
	font-family: 'Poppins';
	color: #444444;
	padding: 0.5rem 1rem;
	/* margin-bottom: 2rem; */
}
.active-tab {
	color: black;
	font-weight: 600;
	border-bottom: 2px solid #c64cff;
}
.workplace table {
	font-family: 'Poppins';
	padding: 0px;
	margin-top: 0px;
}
.workplace table tr,
td {
	border: none;
}
.workplace table td {
}
.data {
	font-weight: 600;
	padding-left: 6rem;
}
.close-btn:hover {
	color: rgb(117, 117, 117);
}
@media (max-width: 1164px) {
	.data_field {
		width: 80%;
	}
	.header {
		width: 80%;
	}
}
@media (max-width: 864px) {
	.filters {
		flex-direction: column;
	}
	.checkbox {
		margin-top: 1rem;
		justify-content: flex-start;
	}
	.data_field {
		width: 85%;
		height: 590px;
	}
	.header {
		width: 85%;
	}
}
@media (max-width: 559px) {
	.data_field {
		width: 90%;
		gap:2rem;
		height: auto;
	}
}
@media (max-width: 529px) {
	.filter_btns {
		flex-direction: column;
	}
	.header img {
		height: 40px;
		width: 40px;
	}
	.header p {
		font-size: 30px;
	}
	.dropdown {
		width: 100%;
	}
	.dropbtn {
		width: 100%;
		justify-content: space-between;
	}
	.search {
		width: 100%;
	}
	.clear {
		display: flex;
		justify-content: center;
	}
	.data_field {
		width: 90%;
		gap:2rem;
		height: auto;
	}
	.header {
		width: 90%;
	}
	.mobile {
		justify-content: start;
	}
}
@media (max-width: 429px) {
	#customers td,
	#customers th {
		padding: 7px;
		padding-left: 10px;
		font-size: 13px;
		width: 33%;
	}
}
